<footer class="footer">
    <div class="footer__container container">
      <div class="footer__column">
        <ul class="footer__list">
          <h3 class="footer__list-title">категории</h3>
          <li class="footer__item">
            <a href="bathroom.html" class="footer__link"
              >Средства для ванной и туалета</a
            >
          </li>
          <li class="footer__item">
            <a href="home.html" class="footer__link">Средства для дома</a>
          </li>
          <li class="footer__item">
            <a href="laundry.html" class="footer__link"
              >Средства для стирки</a
            >
          </li>
          <li class="footer__item">
            <a href="kitchen.html" class="footer__link"
              >Средства для кухни</a
            >
          </li>
          <li class="footer__item">
            <a href="bodycare.html" class="footer__link"
              >Уход за телом и волосами</a
            >
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">автохимия</a>
          </li>
          <li class="footer__item">
            <a href="aroma.html" class="footer__link">ароматизаторы</a>
          </li>
        </ul>
      </div>
      <!-- /.footer__column -->
      <div class="footer__column">
        <ul class="footer__list">
          <h3 class="footer__list-title">личный кабинет</h3>
          <li class="footer__item">
            <a href="" class="footer__link">вход</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">регистрация</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">забыли пароль?</a>
          </li>
        </ul>
      </div>
      <!-- /.footer__column -->
      <div class="footer__column">
        <ul class="footer__list">
          <h3 class="footer__list-title">информация</h3>
          <li class="footer__item">
            <a href="about.html" class="footer__link">о компании</a>
          </li>
          <li class="footer__item">
            <a href="contacts.html" class="footer__link">контакты</a>
          </li>
        </ul>
      </div>
      <!-- /.footer__column -->
      <div class="footer__column">
        <div class="footer__socials">
          <h3 class="footer__list-title">мы в сoц.сетях</h3>
          <div class="footer__icons">
            <a href="https://vk.com/chistaja_polza_zap"
              ><img
                src="{{ 'assets/img/socials/01.svg'|theme }}"
                target="_blank"
                alt="иконка в контатке"
            /></a>
            <a href="#"
              ><img src="{{ 'assets/img/socials/02.svg'|theme }}" alt="иконка телеграмм"
            /></a>
            <a href="#"
              ><img src="{{ 'assets/img/socials/03.svg'|theme }}" alt="иконка в вайбер"
            /></a>
          </div>
          <!-- /.footer__icons -->
        </div>
        <!-- /.footer__socials -->
      </div>
      <!-- /.footer__column -->
    </div>
    <!-- /.footer__container container -->
  </footer>