<header class="header header__fixed">
    <div class="header__container container">
      <div class="header-wrapper">
        <a href="/"
          ><img
            class="header__logo-fixed"
            src="{{ 'assets/img/logo.svg'|theme }}"
            alt="логотип: Чистая Польза"
          />
        </a>
        <div class="header__top-info header__top-info--fixed">
          <span> ул. Юбилейная 12а г. Заполярный Мурманская область </span>
        </div>
        <div class="header__icon-menu">
          <span></span><span></span><span></span>
        </div>
        <!-- /.header__icon-menu -->
        <div class="header__menu">
          <div class="header__top header__top--hidden">
            <div class="header__top-info">
              <span>
                ул. Юбилейная 12а<br />г. Заполярный<br />
                Мурманская область
              </span>
              <button class="header__button-message">
                отправить сообщение
              </button>
            </div>
            <!-- /.header__info -->
            <div class="header__logo">
              <a href="/" class="hedear__logo-link">
                <img src="{{ 'assets/img/logo.svg'|theme }}" alt="логотип: Чистая Польза" />
              </a>
            </div>
            <!-- /.header__logo -->
            <a href="#" class="header__button btn call-btn">позвонить</a>
          </div>
          <!-- /.header__top -->
          <div class="header__bottom">
            <nav class="header__nav-menu">
              <ul class="header__list header__list--hidden">
                <li class="header__item">
                  <a href="products.html" class="header__link"
                    >каталог товаров</a
                  >
                  <ul class="header__underlist">
                    <li class="header__under-item">
                      <a href="bathroom.html" class="header__under-link"
                        >для ванной</a
                      >
                    </li>
                    <li class="header__under-item">
                      <a href="home.html" class="header__under-link"
                        >для дома</a
                      >
                    </li>
                    <li class="header__under-item">
                      <a href="laundry.html" class="header__under-link"
                        >для стирки</a
                      >
                    </li>
                    <li class="header__under-item">
                      <a href="kitchen.html" class="header__under-link"
                        >для кухни</a
                      >
                    </li>
                    <li class="header__under-item">
                      <a href="bodycare.html" class="header__under-link"
                        >уход за телом</a
                      >
                    </li>
                    <li class="header__under-item">
                      <a href="" class="header__under-link">автохимия</a>
                    </li>
                    <li class="header__under-item">
                      <a href="aroma.html" class="header__under-link"
                        >ароматизаторы</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="header__item">
                  <a href="about.html" class="header__link">о компании</a>
                </li>
                <li class="header__item">
                  <a href="" class="header__link">новинки</a>
                </li>
                <li class="header__item">
                  <a href="promotions.html" class="header__link">акции</a>
                </li>
                <li class="header__item">
                  <a href="contacts.html" class="header__link">контакты</a>
                </li>
              </ul>
            </nav>
          </div>
          <!-- /.header__bottom -->
        </div>
        <!-- /.header-wrapper -->
      </div>
      <!-- /.header__menu -->
    </div>
    <!-- /.header__container container -->
    </header>