<main class="main">
        <section class="main-block">
          <div class="main-block__wrapper">
            <div class="swiper main__swiper">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper">
                <!-- Slides -->
                <div
                  class="swiper-slide main-block__slide main-block__title-slide"
                >
                  <div class="main-block__title-slide__bg"></div>
                  <!-- <img src="img/Banner/leaves.png" alt="Баннер с главным заголовком: Чистая польза - экологическая бытовая химия и косметика "> -->
                  <div class="main-block__title-block">
                    <h1 class="main-block__title">
                      <span class="main-block__title-span"
                        >"ЧИСТАЯ ПОЛЬЗА" -
                      </span>
                      ЭКОЛОГИЧНАЯ БЫТОВАЯ ХИМИЯ И КОСМЕТИКА
                    </h1>
                    <button href="#" class="main-block__button btn call-btn">
                      перезвонить мне
                    </button>
                  </div>
                  <!-- /.main-block__title-block -->
                </div>
                <div class="swiper-slide main-block__slide">
                  <img
                    src="img/Banner/family.png"
                    alt="Глаынй баннет с изображением семьи"
                  />
                </div>
                <div class="swiper-slide main-block__slide">
                  <img
                    src="img/Banner/spring.png"
                    alt="Баннер весенних скидок"
                  />
                </div>
              </div>
            </div>
          </div>
          <!-- /.main-block__wrapper -->
        </section>

        <section class="about">
          <div class="about__container container">
            <h2 class="about__title title">о нас</h2>
            <div class="about__content">
              <p>
                Магазин экологической бытовой химии и косметики в городе
                Заполярном
              </p>
              <p>
                <span class="about__span">Чистая польза</span> - продажа
                разливной экологичной бытовой химии по доступным ценам
                сохранение природы, за счет экономии на таре, так как вы всегда
                можете прийти со своей тарой
              </p>
            </div>
            <!-- /.about__content -->
          </div>
          <!-- /.about__container container -->
        </section>

        <section class="products">
          <div class="products__container container">
            <div class="products__title-block">
              <h2 class="products__title title">каталог товаров</h2>
            </div>
            <!-- /.products__title-block title -->
            <div class="products__row">
              <div class="products__column">
                <div class="products__item">
                  <a href="bathroom.html" class="products__link">
                    <img
                      src="img/catalog/1.png"
                      alt="иконка: средства 
                                для ванной и туалета"
                    />
                    <h3>средства для ванной и туалета</h3>
                  </a>
                </div>
              </div>
              <div class="products__column">
                <div class="products__item">
                  <a href="" class="products__link">
                    <img
                      src="img/catalog/2.png"
                      alt="иконка: средства 
                                для дома"
                    />
                    <h3>Средства для дома</h3>
                  </a>
                </div>
              </div>
              <div class="products__column">
                <div class="products__item">
                  <a href="" class="products__link">
                    <img
                      src="img/catalog/3.png"
                      alt="иконка: средства 
                                для стирки"
                    />
                    <h3>Средства для стирки</h3>
                  </a>
                </div>
              </div>
              <div class="products__column">
                <div class="products__item">
                  <a href="" class="products__link">
                    <img
                      src="img/catalog/4.png"
                      alt="иконка: средства 
                                для кухни"
                    />
                    <h3>Средства для кухни</h3>
                  </a>
                </div>
              </div>
              <div class="products__column">
                <div class="products__item">
                  <a href="" class="products__link">
                    <img
                      src="img/catalog/5png.png"
                      alt="Уход за телом и волосами"
                    />
                    <h3>Уход за телом и волосами</h3>
                  </a>
                </div>
              </div>
              <div class="products__column">
                <div class="products__item">
                  <a href="" class="products__link">
                    <img src="img/catalog/6.jpeg" alt="автохимия" />
                    <h3>автохимия</h3>
                  </a>
                </div>
              </div>
              <div class="products__column">
                <div class="products__item">
                  <a href="aroma.html" class="products__link">
                    <img src="img/catalog/7.png" alt="Ароматизаторы" />
                    <h3>Ароматизаторы</h3>
                  </a>
                </div>
              </div>
            </div>
            <!-- /.products__row -->
          </div>
          <!-- /.products__container container -->
        </section>

        <section class="news">
          <div class="news__container container">
            <h2 class="news__title title">новинки</h2>
            <div class="news__row">
              <div class="swiper news__swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper news__wrapper">
                  <!-- Slides -->
                  <div class="swiper-slide news__slide">
                    <div href="" class="news__link">
                      <div class="news__column">
                        <div class="news__item">
                          <div class="news__image-block">
                            <img
                              src="img/news/01.png"
                              alt="изображение банки крема"
                            />
                          </div>
                          <!-- /.news__item-image-block -->
                          <div class="news__title-block">
                            <h3>
                              КРЕМ-БАТТЕР ДЛЯ ТЕЛА ПИТАТЕЛЬНЫЙ МАНГО-ПЕРСИК, 300
                              МЛ.
                            </h3>
                          </div>
                          <!-- /.news__title-block -->
                          <div class="news__buy">
                            <span class="news__price">435 руб.</span>
                            <button class="news__order">заказать</button>
                          </div>
                          <!-- /.news__order -->
                          <span class="news__compare"
                            >добавить в сравнение</span
                          >
                        </div>
                        <!-- /.news__item -->
                      </div>
                      <!-- /.news__column -->
                    </div>
                  </div>
                  <div class="swiper-slide news__slide">
                    <div href="" class="news__link">
                      <div class="news__column">
                        <div class="news__item">
                          <div class="news__image-block">
                            <img
                              src="img/news/02.png"
                              alt="изображение банки крема"
                            />
                          </div>
                          <!-- /.news__item-image-block -->
                          <div class="news__title-block">
                            <h3>
                              КРЕМ-БАТТЕР ДЛЯ ТЕЛА ПИТАТЕЛЬНЫЙ МАНГО-ПЕРСИК, 300
                              МЛ.
                            </h3>
                          </div>
                          <!-- /.news__title-block -->
                          <div class="news__buy">
                            <span class="news__price">435 руб.</span>
                            <button class="news__order">заказать</button>
                          </div>
                          <!-- /.news__order -->
                          <span class="news__compare"
                            >добавить в сравнение</span
                          >
                        </div>
                        <!-- /.news__item -->
                      </div>
                      <!-- /.news__column -->
                    </div>
                  </div>
                  <div class="swiper-slide news__slide">
                    <div href="" class="news__link">
                      <div class="news__column">
                        <div class="news__item">
                          <div class="news__image-block">
                            <img
                              src="img/news/02.png"
                              alt="изображение банки крема"
                            />
                          </div>
                          <!-- /.news__item-image-block -->
                          <div class="news__title-block">
                            <h3>
                              КРЕМ-БАТТЕР ДЛЯ ТЕЛА ПИТАТЕЛЬНЫЙ МАНГО-ПЕРСИК, 300
                              МЛ.
                            </h3>
                          </div>
                          <!-- /.news__title-block -->
                          <div class="news__buy">
                            <span class="news__price">435 руб.</span>
                            <button class="news__order">заказать</button>
                          </div>
                          <!-- /.news__order -->
                          <span class="news__compare"
                            >добавить в сравнение</span
                          >
                        </div>
                        <!-- /.news__item -->
                      </div>
                      <!-- /.news__column -->
                    </div>
                  </div>
                </div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev news__swiper-button-prev"></div>
                <div class="swiper-button-next news__swiper-button-next"></div>
              </div>
            </div>
            <!-- /.news__row -->
          </div>
        </section>

        <section class="sale">
          <div class="sale__container container">
            <h2 class="sale__title title">Акции</h2>
            <div class="sale__row">
              <div class="sale__column">
                <div class="sale__image-block">
                  <img src="img/sale/01.png" alt="Акция: день рождения" />
                </div>
                <!-- /.sale__image-block -->
              </div>
              <!-- /.sale__column -->
              <div class="sale__column">
                <div class="sale__image-block">
                  <img src="img/sale/02.png" alt="Акция: продукт месяца" />
                </div>
                <!-- /.sale__image-block -->
              </div>
              <div class="sale__column">
                <div class="sale__image-block">
                  <img src="img/sale/03.png" alt="Акция: получите приз" />
                </div>
                <!-- /.sale__image-block -->
              </div>
            </div>
            <!-- /.sale__row -->
          </div>
        </section>
      </main>