<!-- /.wrapper -->
    <div class="modal">
      <div class="modal__body">
        <div class="modal__content">
          <span class="modal__close modal__close--close"></span>
          <div class="modal__title">
            <h2>Заполните форму</h2>
          </div>
          <!-- /.modal__title -->
          <form class="modal__form" action="">
            <input type="text" placeholder="Ваше имя" />
            <input type="tel" name="" id="" placeholder="Номер телефона" />
            <textarea class="modal__area"></textarea>
            <button class="modal__button">Отправить</button>
          </form>
        </div>
        <!-- /.modal__content -->
      </div>
      <!-- /.modal__body -->
    </div>
    <div class="modal-message">
      <div class="modal-message__body">
        <div class="modal-message__content">
          <div class="modal-message__title">
            <h2>форма заказа</h2>
          </div>
          <!-- /.modal-message__title -->
          <form class="modal-message__form" action="">
            <input type="text" placeholder="Ваше имя" />
            <input type="tel" name="" id="" placeholder="Номер телефона" />
            <textarea
              class="modal-message__area"
              name=""
              id=""
              cols="20"
              rows="10"
            ></textarea>
            <button class="modal-message__button">Отправить</button>
          </form>
          <div class="modal-message__close"></div>
        </div>
      </div>
    </div>
    <!-- /.modal-message -->

    <div class="call-modal">
      <div class="call-modal__body">
        <div class="call-modal__content">
          <span class="call-modal__title">закажите звонок</span>
          <div class="call-modal__close"></div>
          <form class="call-modal__form" action="">
            <input
              class="call-modal__name"
              type="text"
              placeholder="Ваше имя"
            />
            <input
              class="call-modal__phone"
              type="text"
              placeholder="Ваш номер телефона"
            />
            <button class="call-modal__button"><span> отправить</span></button>
            <a href="" class="policy">* политика конфиденциальности</a>
          </form>
        </div>
        <!-- /.call-modal__content -->
      </div>
      <!-- /.call-modal__body -->
    </div>
    <!-- /.call-modal -->